.login-card-content {
    padding: 1rem;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

input[type=checkbox]{
    accent-color: rgba(4, 45, 2, 1);
    mix-blend-mode: multiply;
}

#check {
    width: fit-content;
    margin-left: 0;
}

.login-input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border: 2px solid rgba(4, 45, 2, 1);
    border-radius: 10px;
    margin-left: 0px;
}

hr {
    border: 2px solid rgba(4, 45, 2, 1);
    border-radius: 10px;
    width: 100%;
}

.login-interactables {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-card-button {
    margin-bottom: 1rem;
}

.sign-up-text {
    margin-top: 1rem;
}