.add-to-cart-container {
    padding: 1rem;
    background-color: white;
    border-radius: 20px;
    height: fit-content;
    box-shadow: -1px -1px 31px 13px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -1px -1px 31px 13px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px -1px 31px 13px rgba(0, 0, 0, 0.3);
}

.add-to-cart-card-price {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.add-to-cart-card-seller {
    padding-bottom: 1rem;
}