.category-image {
    position: relative;
    height: 300px;
    width: 215px;
    padding: 5px;
}

.category-image .category-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.category{
    border: 2px solid rgba(0,0,0,0.7);
    border-radius: 10px;
    width:fit-content;
    height: fit-content;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.category:hover {
    scale: 1.1;
}

.category-title {
    display: flex;
    align-items: center;
}

.category-title h3 {
    text-align: center;
}