.logInButton {
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-left: 2rem;
}

#button {
    color: white;
    background-color: #042d02;
    border-radius: 10px;
    padding: 0.8rem 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
}