.shopping-cart-seller-card-container {
    border: 2px solid #042d02;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 2rem;
    box-shadow: -1px -1px 11px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -1px -1px 11px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px -1px 11px 4px rgba(0, 0, 0, 0.3);
}

.seller-card-header {
    border-bottom: 2px solid #042d02;
    padding: 1rem;
    background-color: #042d02;
    color: white;
    font-size: x-large;
}

.shopping-cart-seller-card-content {
    padding: 1rem;
}
