.shopping-cart-seller-card-container {
    border: 2px solid #042d02;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 2rem;
    box-shadow: -1px -1px 11px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -1px -1px 11px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px -1px 11px 4px rgba(0, 0, 0, 0.3);
}

.seller-card-header {
    border-bottom: 2px solid #042d02;
    padding: 1rem;
    background-color: #042d02;
    color: white;
    font-size: x-large;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.shopping-cart-seller-card-content {
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.seller-name {
    padding-top: 1rem;
    padding-left: 2rem;
}

.seller-card-shipping-options {
    padding: 1rem;
    background-color: #efefef;
    border-radius: 10px;
    height: fit-content;
}

.seller-card-cost-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr repeat(3, 0.5fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: fit-content;
}

.shipping-option {
    background-color: white;
    border-radius: 10px;
    margin-top: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
}

.shipping-option-label {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    padding: 1rem;
}

.shipping-option:hover {
    cursor: pointer;
}

.shipping-option-label:hover{
    cursor: pointer;
}

.shipping-option input:hover {
    cursor: pointer;
}