* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
    padding: 0;
}

.header {
    padding: 0;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    background-color: #efefef;
}

.left-align {
    text-align: left;
    height: fit-content;
}

.right-align {
    text-align: right;
    height: fit-content;
}

input[type=radio] {
    accent-color: #042d02;
}