* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

.App {
    padding: 0;
}

.header {
    padding: 0;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    background-color: #efefef;
}