.shoppingCart {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.cartButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    border-color: rgba(0,0,0,0.3);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

#cartCounter {
    padding: 1rem;
    border-radius: 15%;
    background-color: #042D02;
    color: white;
    margin: 0.5rem;
}