#searchText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchBarContainer {
    width: 40%;
    display: flex;
    align-items: center;
    padding-top: 3rem;
    flex-direction: column;
    min-width: 200px;
    margin: auto;
}